body {
    box-sizing: border-box;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    max-width: 1024px;
    font-family: Roboto, sans-serif;
}

details {
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    margin: 30px auto;
  }

  footer img  {
    max-width: 36px;
}

.container-icons {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.container-icons li {
    display: inline-block;
    margin: 0 10px;
}

audio {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.audio-download-container {
    display: flex;
    align-items: center;
    margin-top: 10px; 
    justify-content: center;
}

.audio-download-container audio {
    margin-right: 10px; 
}

